---
layout: default # comment не читается компилятором
---

<!-- Здесь комментарии оформляются так
-->

<table width="90%">
	<tr>
		<!-- <td width="100">
			<img src="data/images/marcheLesDames.jpg" width="220" />
		</td>
		-->
		<td width="50%" style="background: url(data/images/MarcheLesDames.jpg) 50% 50% no-repeat;">
			<font color="#FFFFFF">
			<!--<a class="semi-transparent-button" href="#">ABOUT ME</a> -->
			<h1 align="center">Alexander(Oleksandr) Minakov's Home Page</h1>
			<h2 align="center">Post doc at IRMP at UCL, Belgium</h2>
			<h2 align="center">Welcome to my personal home page!</h2>
			</font>
		</td>
		 <td width="50%">
			<img src="data/images/ominakov_big.jpg" width="420" />
		</td>
		
	</tr>
</table>



{{ content }}